<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_d58e76bf-8eca-434d-ab7d-d9113663a482-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="../../static/src/codigo.js" defer></script>
    <title>Code</title>
    <style>
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body
    style="background-image: url(../../static/imagenes/_ae5e76d8-0dd7-41f0-838e-e19f43ad04c8.png); background-repeat: no-repeat; background-size: cover;">
    <div class="w-full justify-center align-center">
        <div class="w-full flex justify-center align-center">
            <div class="w-1/3 table bg-stone-950 justify-center my-20 borde p-8">
                <div class="w-full flex justify-center">
                    <img class="size-40"
                        src="{{url_for('static',filename='imagenes/_4f4fb6cb-53d3-4b00-954f-d17b408e190e-removebg-preview.png')}}"
                        alt="user">
                </div>
                <div class="w-full table justify-center align-center">
                    <div class="w-full flex justify-center my-4">
                        <h1 class="text-slate-50 text-5xl font-mono titulo2 text-center">Reset Code</h1>
                    </div>
                    <div class="w-full flex justify-center my-8">
                        <p class="text-slate-50 text-xl font-mono text-center">Enter the code we sent you by email to
                            verify identity </p>
                    </div>
                        <div class="w-full grid justify-center my-2 text-center">
                            <label class="text-slate-50 my-2 text-2xl font-mono">Code</label>
                            <input type="text" id="user_code_input" maxlength="6" 
                                class="text-center bg-stone-950 border-2 border-slate-500/50 caja w-full text-slate-50 py-0.5 pl-2 font-mono rounded-md">
                            <span id="codigo" class="text-sm text-rose-500"></span>
                            <a id="a" href="{{ url_for('usuario.password_new', id=id) }}" class="text-slate-50 my-8 btn-neon hover:bg-blue-700">
                                <span id="span1"></span>
                                <span id="span2"></span>
                                <span id="span3"></span>
                                <span id="span4"></span>
                                Check code
                            </a>                            
                            <a href="{{url_for('usuario.login')}}"
                                class="text-slate-50 hover:text-blue-600 hover:underline">Log in?</a>
                            <a href="{{url_for('usuario.add')}}"
                                class="text-slate-50 hover:text-blue-600 hover:underline">Don't have An Account?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <input style="display: none;" type="hidden" value="{{encoded_reset_code}}" id="reset_code_encoded">
</body>

</html>