<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Movie</title>
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_d58e76bf-8eca-434d-ab7d-d9113663a482-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="../../static/src/editar.js" defer></script>
    <style>
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
</head>

<body
    style="background-image: url(../../static/imagenes/_8c3e9095-9b51-4ade-86f0-26ded70381d0.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="w-full flex">
        <a class="m-8 text-slate-50" href="{{url_for('pelicula.index')}}"><svg xmlns="http://www.w3.org/2000/svg"
                width="40" height="40" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg></a>

    </div>
    <div class="w-full flex justify-center">
        <form class="w-3/5" action="{{ url_for('usuario.edit',id = usuario.id) }}" method="post" id="formulario-editar">
            <div class="border-t-4 border-l-4 border-r-4 border-blue-950 rounded-t-lg mt-8">
                <img class="rounded-t-md w-full"
                    src="{{url_for('static',filename='imagenes/_9bab29aa-9a6f-411e-a449-10782092772d.jpg')}}" alt="">
            </div>
            <div
                class="w-full justify-center align-center text-center bg-slate-50 rounded-b-lg border-4 border-blue-950 mb-20 ">
                <h1 class="font-mono text-5xl my-8 font-bold">Actualizar Datos</h1>
                <div class="w-full text-center">
                    <div class="my-8 w-full">
                        <label class="font-semibold text-xl">Nombre</label>
                    </div>
                    <div class="mb-4 w-1/2 mx-auto flex justify-center">
                        <input onkeyup=validarNombre()
                            class="border-2 rounded-md border-blue-950 w-3/5 pl-2 cajita focus:outline-none"
                            id="nombreUsuario" name="nombreUsuario" type="text" value="{{usuario.nombre}}">
                    </div>
                    <span id="nombreInvalido" class="text-sm text-rose-500"></span>
                </div>
                <div class="w-full text-center">
                    <div class="my-8 w-full">
                        <label class="font-semibold text-xl">Telefono</label>
                    </div>
                    <div class="mb-4 w-1/2 mx-auto flex justify-center">
                        <input onkeyup=validarTelefono()
                            class="border-2 rounded-md border-blue-950 w-3/5 pl-2 cajita focus:outline-none"
                            id="telefonoUsuario" name="telefonoUsuario" type="number" value="{{usuario.telefono}}">
                    </div>
                    <span id="telefonoInvalido" class="text-sm text-rose-500"></span>
                </div>
                <div class="w-full text-center">
                    <div class="my-8 w-full">
                        <label class="font-semibold text-xl">Correo Electronico</label>
                    </div>
                    <div class="mb-4 w-1/2 mx-auto flex justify-center">
                        <input onkeyup=validarCorreo()
                            class="border-2 rounded-md border-blue-950 w-3/5 pl-2 cajita focus:outline-none"
                            id="emailUsuario" name="emailUsuario" type="text" value="{{usuario.email}}">
                    </div>
                    <span id="correoInvalido" class="text-sm text-rose-500"></span>
                </div>
                <button class="my-8 bg-blue-900 p-2 rounded-md w-1/5 text-slate-50 hover:bg-slate-950"
                    type="submit">Actualizar</button>
            </div>
        </form>


    </div>

</body>

</html>