<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_d58e76bf-8eca-434d-ab7d-d9113663a482-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="../../static/src/passwords.js" defer></script>
    <title>Nueva Contraseña</title>
</head>

<body class="bg-cover bg-center bg-no-repeat"
    style="background-image: url(../../static/imagenes/_ae5e76d8-0dd7-41f0-838e-e19f43ad04c8.png);">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }} apparence-none m-4 ">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="w-full flex justify-center items-center h-screen">
        <div class="w-11/12 md:w-3/5 lg:w-1/2 xl:w-1/3 bg-stone-950 p-8 rounded-lg borde2">
            <div class="flex justify-center">
                <img class="w-40"
                    src="{{url_for('static',filename='imagenes/_28b96e52-97d8-4d2a-8947-6b804102334a-removebg-preview.png')}}"
                    alt="user">
            </div>
            <div class="text-center">
                <h1
                    class="text-slate-50 lg:max-2xl:text-5xl lg:max-2xl:mt-4 lg:max-2xl:mb-8 font-mono md:text-4xl text-2xl mb-4">
                    Actualiza tu Contraseña</h1>
            </div>
            <div class="text-center">
                <p class="text-slate-50 lg:max-2xl:text-xl md:text-xl text-sm font-mono mb-4">Ingresa la nueva
                    contraseña y confirmala para hacer la Actualización de la misma</p>
            </div>
            <form action="{{url_for('usuario.password_new', id=id)}}" method="post" id="formulario-reset">
                <div class="grid justify-center text-center">
                    <label class="text-slate-50 lg:max-2xl:text-2xl font-mono text-base my-2">Nueva Contraseña</label>
                    <input onkeyup=validarContraseñas() type="password" name="passwordUsuario"
                        class="bg-stone-950 border-2 border-slate-500/50 caja w-full text-slate-50 py-0.5 pl-2 font-mono rounded-md mb-4">
                    <label class="text-slate-50 lg:max-2xl:text-2xl font-mono text-base my-2">Confirma tu
                        Contraseña</label>
                    <input onkeyup=validarContraseñas() type="password" name="passwordConfirmation"
                        class="bg-stone-950 border-2 border-slate-500/50 caja w-full text-slate-50 py-0.5 pl-2 font-mono rounded-md mb-4">
                    <span id="contraseñasInvalidas" class="text-sm text-rose-500"></span>
                    <button class="text-slate-50 btn-neon2 hover:bg-purple-700 lg:max-2xl:my-4 mb-4">
                        <span id="-span1"></span>
                        <span id="-span2"></span>
                        <span id="-span3"></span>
                        <span id="-span4"></span>
                        Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>