<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_b78281d0-3b0b-4a72-bcc7-970ab058ef65-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Document</title>
    <style>
        .pelicula {
            margin: 0px;
        }

        .pelicula img {
            padding: 2px;
            width: 200px;
            height: 250px;
        }
    </style>
</head>

<body style="background-color: aliceblue;">
    <div class="w-full flex">
        <a class="m-8" href="{{url_for('pelicula.index')}}"><svg xmlns="http://www.w3.org/2000/svg" width="40"
                height="40" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
            </svg></a>

    </div>
    <div class="w-full flex justify-center">
        <form class="w-3/5" action="{{ url_for('pelicula.edit',id = pelicula.id) }}" method="post"
            enctype="multipart/form-data">
            <div class="border-t-4 border-l-4 border-r-4 border-blue-950 rounded-t-lg mt-8">
                <img class="rounded-t-md w-full"
                    src="{{url_for('static',filename='imagenes/_3db5b02a-266c-4c50-b944-0a5306c897a2.jpg')}}" alt="">
            </div>
            <div
                class="w-full justify-center align-center text-center bg-slate-50 rounded-b-lg border-4 border-blue-950 mb-20 ">
                <h1 class="font-mono text-5xl my-2 font-bold">Update movie</h1>
                <div class="w-full flex text-center">
                    <div class="w-1/2 text-center table">
                        <div class="mb-4 w-full">
                            <label for="nombrePelicula" class="font-semibold text-xl ">Name</label>
                        </div>
                        <div class="mb-4 w-full">
                            <input class="border-2 rounded-md border-blue-950 w-3/5 pl-2 cajita focus:outline-none"
                                type="text" id="nombrePelicula" name="nombrePelicula" value="{{pelicula.nombre}}">
                        </div>
                    </div>
                    <div class="w-1/2 text-center table">
                        <div class="mb-4 w-full">
                            <label for="generoPelicula" class="font-semibold text-xl">Género:</label>
                        </div>
                        <div class="my-4 w-full">
                            <select
                                class="border-2 rounded-md border-blue-950 w-3/5 text-center font-semibold cajita focus:outline-none"
                                id="generoPelicula" name="generoPelicula">
                                {% for genero in generos %}
                                <option value="{{genero.id}}" {% if genero.id==pelicula.genero %} selected {% endif %}>
                                    {{genero.descripcion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="w-full text-center table">
                    <div class="mb-4 w-full">
                        <label class="font-semibold text-xl" for="descripcionPelicula">Descripción:</label>
                    </div>
                    <div class="mb-4 w-full">
                        <textarea class="border-2 rounded-md border-blue-950 w-3/5 p-2 cajita focus:outline-none"
                            id="descripcionPelicula" name="descripcionPelicula">{{pelicula.descripcion}}</textarea>
                    </div>
                </div>
                <div class="w-full text-center table text-center">
                    <div class="mb-4 w-full">
                        <label class="font-semibold text-xl" for="imagenPelicula">Imagen:</label>
                    </div>
                    <div class="mb-4 w-full flex pelicula justify-center">
                        <img class="w-full justify-center"
                            src="{{url_for('static',filename='imagenes/Peliculas/' + pelicula.imagen)}}"
                            alt="{{ pelicula.nombre }}">
                    </div>
                    <div class="my-4 w-full flex text-center justify-center ">
                        <input class="border-2 rounded-md w-3/5 " type="file" id="imagenPelicula" name="imagenPelicula">
                    </div>
                </div>
                <button class="my-8 bg-blue-900 p-2 rounded-md w-1/5 text-slate-50 hover:bg-slate-950"
                    type="submit">Update</button>
                <div class="my-8 w-full flex justify-end">
                    <a class=" bg-blue-900 p-2 rounded-md w-1/5 text-slate-50 hover:bg-slate-950" href="{{url_for('pelicula.delete',id = pelicula.id)}}">Eliminar</a>
                </div>
            </div>

    </div>
    </form>
    </div>
</body>

</html>