<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_b78281d0-3b0b-4a72-bcc7-970ab058ef65-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Document</title>
    <style>
        .pelicula {
            display: inline-block;
            margin: 0px;
        }

        .pelicula img {
            padding: 2px;
            width: 200px;
            height: 250px;
        }
    </style>
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1> Bienvenido a la página de Películas {{session['nombreUsuario']}}
    </h1>
    {% if session['rolUsuario'] == 2 %}
        <a class="bg-slate-950 text-slate-50 m-8 p-2" href="{{url_for('pelicula.add')}}">Agregar Películas</a>
    {% endif %}
    <a href="{{url_for('usuario.logout')}}">Salir</a>

    <div class="peliculas w-full flex">
        {% for pelicula in peliculas %}
            <div class="pelicula w-1/5">
                <img class="w-full" src="{{url_for('static',filename='imagenes/Peliculas/' + pelicula.imagen)}}" alt="{{ pelicula.nombre }}">
                <p>{{ pelicula.nombre }}</p>
                {%  if session['rolUsuario'] == 2 %}
                    <a class="bg-slate-950 text-slate-50 m-8 p-2" href="{{url_for('pelicula.edit', id = pelicula.id)}}">edit</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>

</html>
