<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="{{url_for('static',filename='imagenes/_d58e76bf-8eca-434d-ab7d-d9113663a482-removebg-preview.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <title>Ver Pelicula</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var checkbox = document.getElementById('check');
            checkbox.addEventListener('change', function () {
                if (checkbox.checked) {
                    document.body.classList.add('overflow-hidden');
                } else {
                    document.body.classList.remove('overflow-hidden');
                }
            });
        });
    </script>
</head>

<body style="background-color:#475569 ;">
    <nav class="p-2 bg-slate-950 w-full flex items-center">
        <a class="w-11/12 md:w-1/3 flex sm:max-lg:items-center justify-center" href="{{url_for('pelicula.index')}}">
            <img class="md:w-20 md:h-20 w-16 h-16"
                src="{{url_for('static',filename='imagenes/_411f60de-6d52-45df-a6fd-8d4f3ce09cb9-removebg-preview.png')}}"
                alt="">
            <div class="flex items-center"
                style="background-image: url(../../static/imagenes/_404b9125-ca23-4d01-a883-b89bcbc736d2-removebg-preview.png); background-position: left; background-size: contain; background-repeat: no-repeat;">
                <h1
                    class="pl-12 md:pl-16 font-mono text-slate-50 text-3xl subtitulo font-semibold nav sm:max-xl:hidden">
                    ICOPELIS
                </h1>
            </div>
        </a>
        </h1>
        <div class="md:w-full md:flex items-center justify-center text-center hidden">
            {% if session['rolUsuario'] == 2 %}
            <a class="text-slate-50 md:w-1/4 w-1/5 md:max-xl:text-base text-xl hov"
                href="{{url_for('pelicula.add')}}">Agregar Peliculas</a>
            <a class="text-slate-50 md:w-1/4 w-1/5 md:max-xl:text-base text-xl hov"
                href="{{url_for('genero.add')}}">Agregar Generos</a>
            <a class="text-slate-50 md:w-1/4 w-1/5 md:max-xl:text-base text-xl hov"
                href="{{url_for('rol.add')}}">Agregar Roles</a>
            <div class="w-2/5 lg:w-1/4">
                <a class="text-slate-50 md:max-xl:text-base text-xl hov"
                    href="{{url_for('usuario.edit',id = session['idUsuario'])}}">Editar
                    Datos</a>
            </div>
            {% endif %}

            {% if session['rolUsuario'] == 1 %}
            <a class="text-slate-50 w-2/6 text-xl hov" href="{{url_for('pelicula.index')}}">Inicio</a>
            <a class="text-slate-50 w-2/6 text-xl hov" href="{{url_for('favorito.index')}}">Favoritos</a>
            <div class="w-2/6">
                <a class="text-slate-50  text-xl  hov"
                    href="{{url_for('usuario.edit',id = session['idUsuario'])}}">Editar
                    Datos</a>
            </div>
            {% endif %}

        </div>
        <div class="md:w-1/5 md:flex justify-center hidden">
            <a class="text-slate-50 md:max-xl:text-base text-xl hov" href="{{url_for('usuario.logout')}}">Salir</a>
        </div>
        <nav class="w-1/5 flex justify-center md:hidden">
            <input type="checkbox" id="check" class="hidden">
            <label for="check" class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="white" class="bi bi-justify-right"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>
            </label>
            <ul
                class="md:hidden fixed w-full h-full bg-slate-800 top-20 left-full text-center transitio-all z-30 text-2xl">
                <li>
                    <div class="w-full flex border-b-2 border-slate-500 h-12 ">
                        <input id="searchInput2" type="text"
                            class="input-busqueda2 bg-slate-800 outline-none p-1 lg:text-xl md:text-base text-slate-400 w-full justify-center text-center"
                            placeholder="{{session['nombreUsuario']}}" disabled>

                    </div>
                </li>
                {% if session['rolUsuario'] == 2 %}
                <li class="h-24 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('pelicula.add')}}">Agregar Peliculas</a></li>
                <li class="h-24 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('genero.add')}}">Agregar Generos</a></li>
                <li class="h-24 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('rol.add')}}">Agregar Roles</a></li>
                <li class="h-24 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('usuario.edit',id = session['idUsuario'])}}">Editar
                        Datos</a></li>
                {% endif %}
                {% if session['rolUsuario'] == 1 %}
                <li class="h-32 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('pelicula.index')}}">Inicio</a></li>
                <li class="h-32 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block " href="{{url_for('favorito.index')}}">Favoritos</a></li>
                <li class="h-32 flex items-center justify-center border-b-2 border-slate-700"><a
                        class="text-slate-50 block" href="{{url_for('usuario.edit',id = session['idUsuario'])}}">Editar
                        Datos</a></li>
                {% endif %}
                <li class="h-24 flex items-center justify-center"><a class="text-slate-50 block "
                        href="{{url_for('usuario.logout')}}">Salir</a></li>
            </ul>

        </nav>
    </nav>

    <div class="h-screen flex relative bg-center"
        style="background-image: url(../../static/imagenes/Peliculas/{{pelicula.imagen}}); background-repeat: no-repeat; background-size: cover;">
        <div class="absolute inset-0 bg-black opacity-70"></div>
        <div class="md:hidden w-full table text-center absolute justify-center">
            <h1 class="text-3xl text-slate-50 font-bold my-4 nav relative">{{pelicula.nombre}}</h1>
            <div class="w-full flex relative justify-center">
                <img class="w-3/5" src="{{url_for('static',filename='imagenes/Peliculas/' + pelicula.imagen)}}">
            </div>
            <div class="w-full flex relative justify-center">
                {% for genero in generos %}
                {% if pelicula.genero == genero.id %}
                <p class="w-full text-base text-slate-200 mt-2 mb-4 ">Genero: <strong>{{genero.descripcion}}</strong> -
                    Año: <strong>{{pelicula.año}}</strong></p>
                {% endif %}
                {% endfor %}
            </div>
            <div class="w-full flex relative justify-center">
                <p class="text-xs text-slate-200 mb-8 w-4/5">{{pelicula.descripcion}}</p>
            </div>
            <div class="w-full">
                {% set nombre_formateado = pelicula.nombre|lower %}
                {% set nombre_formateado = nombre_formateado.replace(" ", "-") %}
                <a class="my-8 bg-blue-900 p-2 rounded-md w-1/5 text-slate-50 hover:bg-slate-950 mr-4"
                    href="https://wow.cinecalidad.gg/ver-pelicula/{{nombre_formateado}}/">Ver película</a>
                <a class="my-8 bg-green-700 p-2 rounded-md w-1/5 text-slate-50 hover:bg-green-950"
                    href="https://www.youtube.com/results?search_query=+trailer+{{pelicula.nombre}}">Ver Trailer</a>
            </div>
        </div>

        <div class="md:w-1/5 m-8 relative flex h-screen items-center">
            <img class="md:flex hidden" src="{{url_for('static',filename='imagenes/Peliculas/' + pelicula.imagen)}}">
        </div>
        <div class="md:w-4/5 md:m-4 md:relative md:flex h-screen items-center ">
            <div class="md:table hidden ">
                <h1 class="text-4xl text-slate-50 font-bold mt-8 nav">{{pelicula.nombre}}</h1>
                <p class="text-xl text-slate-200 mt-2 mb-8 ">{{pelicula.nombre}} - {{pelicula.año}}</p>
                <p class="text-xl text-slate-200 mb-8 ">{{pelicula.descripcion}}</p>
                {% for genero in generos %}
                {% if pelicula.genero == genero.id %}
                <p class="text-xl text-slate-200 mb-8 ">Genero: <strong>{{genero.descripcion}}</strong></p>
                {% endif %}
                {% endfor %}
                <div class="w-full">
                    {% set nombre_formateado = pelicula.nombre|lower %}
                    {% set nombre_formateado = nombre_formateado.replace(" ", "-") %}
                    <a class="my-8 bg-blue-900 p-2 rounded-md w-1/5 text-slate-50 hover:bg-slate-950 mr-4"
                        href="https://wow.cinecalidad.gg/ver-pelicula/{{nombre_formateado}}/">Ver película</a>
                    <a class="my-8 bg-green-700 p-2 rounded-md w-1/5 text-slate-50 hover:bg-green-950"
                        href="https://www.youtube.com/results?search_query=+trailer+{{pelicula.nombre}}">Ver Trailer</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-stone-950 p-4 w-full">
        <p class="text-center text-white text-sm">
            &copy; 2024 Todos los derechos reservados. Diseñado con <span class="text-red-500">&hearts;</span> por
            Nicolás Castañeda Pardo.
        </p>
    </footer>


</body>

</html>