<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code</title>
</head>
<body>
    <h1 style="font-size: 50px; font-weight: bold;">Hola!</h1>
    <p style="font-size: 20px;">Este es tu código de restablecimiento: <strong style="font-size: 40px ; color: #7e22ce ; font-weight: bolder;" >{{ reset_code }}</strong>.</p>
    <p style="font-size: 20px;">Utiliza este código para restablecer tu contraseña.</p>
    <p style="font-size: 20px;">¡Gracias por tu atención!</p>
</body>
</html>